<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="{{static_url('js/layer.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/discount.css')}}">
    <title>粉丝福利</title>
</head>
<body>
<div class="explain">
    <h1>积分说明</h1>
    <p>每天登陆个人中心可领取5积分</p>
    <p>每使用一张优惠券返还20积分</p>
    <p>积分可兑换优惠券,使用时出示优惠券</p>

</div>
<ul class="discount_list">
    <input type="hidden" value="{{openid}}" id="openid">
    {% for d in data %}
    <li>
        <div class="discount">
            <p>
                {% if d['type'] == 'money' %}
                <span class="type">&yen;</span>
                <span class="money">{{d['discount']}}</span>
                {% elif d['type'] == 'discount' %}
                <span class="type">折</span>
                <span class="money">{{d['discount']}}</span>
                {% else %}
                <span style="font-size: 21px">{{d['discount']}}</span>
                {% end %}
            </p>
            <h1>{{d['name']}}<span class="score">{{d['score']}}积分</span><span class="count">剩余数量：<span
                    id="count{{d['id']}}">{{d['count']}}</span></span>
            </h1>
            {% if d['count'] > 0 %}
            <button onclick="receive({{d['id']}})">立即领取</button>
            {% else %}
            <button class="active">明日再来</button>
            {% end %}
        </div>
        <p class="rule">使用规则：{{d['rule']}}</p>
        <span class="circle left"></span>
        <span class="circle right"></span>
    </li>
    {% end %}
</ul>
<script>
    function receive(id) {
        let openid = document.getElementById('openid').value;
        $.ajax({
            url: '/discount',
            method: 'post',
            data: {
                openid: openid,
                discount_id: id
            },
            success: function (res) {
                if (!res.code) {
                    let countEle = document.getElementById('count' + id);
                    countEle.innerText = (parseInt(countEle.innerText) - 1).toString();
                    layer.msg(res.msg, {icon: 6});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>
</body>
</html>