<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="{{static_url('js/layer.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/personal.css')}}">
    <style>
        .photo {
            background: url("{{info['image_url']}}") center center;
            background-size: contain;
        }
    </style>
    <title>个人中心</title>
</head>
<body>
<div class="info">
    <span class="photo"></span>
    <div class="user_info">
        <input type="hidden" value="{{info['openid']}}" id="openid">
        <p class="name">{{info['username']}}</p>
        <p class="address">{{info['province']}} / {{info['city']}}</p>
    </div>
    {% if not info['is_receive'] %}
    <span class="btn draft" onclick="receive()">领5积分</span>
    <span class="btn active" style="display:none;" id="active">领取成功</span>
    {% else %}
    <span class="btn active">领取成功</span>
    {% end %}
</div>
{% if info['is_admin'] %}
<p class="banner" onclick="scan()">扫一扫<span class="count scan"></span></p>
{% end %}
<p class="banner">当前积分<span class="count" id="score">{{info['score']}}</span></p>
<p class="banner">当前优惠券<span class="count">{{info['discount']}}</span></p>
<ul class="discount_list">
    {% for d in info['discount_list'] %}
    <li>
        <div class="discount">
            <p>
                {% if d['type'] == 'money' %}
                <span class="type">&yen;</span>
                <span class="money">{{d['discount']}}</span>
                {% elif d['type'] == 'discount' %}
                <span class="type">折</span>
                <span class="money">{{d['discount']}}</span>
                {% else %}
                <span style="font-size: 21px">{{d['discount']}}</span>
                {% end %}
            </p>
            <h1>{{d['name']}}<span class="time">有效期至：{{d['end_time']}}</span></h1>
            <button onclick="showCode({{d['id']}})">立即使用</button>
        </div>
        <p class="rule">使用规则：{{d['rule']}}</p>
        <span class="circle left"></span>
        <span class="circle right"></span>
    </li>
    {% end %}
</ul>
<div class="code" id="code">
    <input type="hidden" value="0" id="flag">
    <img id="img" src=""/>
    <span class="close" onclick="hideCode()"></span>
</div>
<div class="scan_shade" id="scan_shade">
    <div class="scan_box">
        <input type="hidden" value="" id="scan_openid">
        <input type="hidden" value="" id="scan_discount_id">
        <p class="discount" id="discount"></p>
        <p class="rule" id="rule"></p>
        <button class="scan_btn" onclick="confirm_use()">确认使用</button>
    </div>
</div>
<script>
    $(function () {
        wxConfig();
    });

    function wxConfig() {
        $.ajax({
            url: '/signature?fullUrl=' + encodeURIComponent(location.href.split('#')[0]),
            method: 'get',
            success: function (res) {
                wx.config({
                    debug: false,
                    appId: 'wx832fa4d94a890b92',
                    timestamp: res.timestamp,
                    nonceStr: res.nonceStr,
                    signature: res.signature,
                    jsApiList: ['checkJsApi', 'scanQRCode']
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function showCode(discount_id) {
        let codeEle = document.getElementById('code');
        let imgEle = document.getElementById('img');
        let flagEle = document.getElementById('flag');
        let openid = document.getElementById('openid').value;
        let code = 'openid=' + openid + '&discount_id=' + discount_id;
        let src = 'http://qr.liantu.com/api.php?bg=ffffff&fg=333333&el=l&w=200&m=10&text=' + btoa(code);
        if (flagEle.value == '0') {
            imgEle.setAttribute('src', src);
            codeEle.style.display = 'block';
            flagEle.value = '1';
        } else {
            console.log('请先关闭当前二维码框');
        }
    }

    function hideCode() {
        let codeEle = document.getElementById('code');
        let imgEle = document.getElementById('img');
        let flagEle = document.getElementById('flag');
        codeEle.style.display = 'none';
        imgEle.setAttribute('src', '');
        flagEle.value = '0';
    }

    function receive() {
        let ele = document.getElementById('openid');
        let value = ele.value;
        $.ajax({
            url: '/personal',
            method: 'post',
            data: {
                openid: value
            },
            success: function (res) {
                if (!res.code) {
                    let activeEle = document.getElementById('active');
                    let scoreEle = document.getElementById('score');
                    activeEle.style.display = 'block';
                    scoreEle.innerText = (parseInt(scoreEle.innerText) + 5).toString();
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function scan() {
        wx.scanQRCode({
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                let code = res.resultStr;
                alert(code);
                alert(atob(code));
                $.ajax({
                    url: '/scan?' + code,
                    method: 'get',
                    success: function (res) {
                        if (!res.code) {
                            let scanEle = document.getElementById('scan_shade');
                            let discountEle = document.getElementById('discount');
                            let ruleEle = document.getElementById('rule');
                            let openidEle = document.getElementById('scan_openid');
                            let discountIdEle = document.getElementById('scan_discount_id');
                            let data = res.data;
                            let discount = '';
                            if (data.type == 'money') {
                                discount = data.discount + '元' + data.name;
                            } else if (data.type == 'discount') {
                                discount = data.discount + '折' + data.name;
                            } else if (data.type == 'exchange') {
                                discount = data.discount + data.name;
                            }
                            discountEle.textContent = discount;
                            ruleEle.textContent = data.rule;
                            openidEle.value = data.openid;
                            discountIdEle.value = data.discount_id;
                            scanEle.style.display = 'block';
                        } else {
                            layer.msg(res.msg, {icon: 5});
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });
    }

    function confirm_use() {
        let scanEle = document.getElementById('scan_shade');
        let openidEle = document.getElementById('scan_openid');
        let discountIdEle = document.getElementById('scan_discount_id');
        $.ajax({
            url: '/scan',
            method: 'post',
            data: {
                openid: openidEle.value,
                discount_id: discountIdEle.value
            },
            success: function (res) {
                if (!res.code) {
                    scanEle.style.display = 'none';
                    layer.msg(res.msg, {icon: 6});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>
</body>
</html>